{% extends "base_campus.twig" %}

{% block content %}

    {% if wayf_config.userpass.order == 1 %}
        {% include 'userpass.twig' %}
    {% elseif wayf_config.preferred_idps.order == 1 %}
       {% include 'preferred_idps.twig' %}
    {% elseif wayf_config.idps.order == 1 %}
        {% include 'idps.twig' %}
    {% else %}
        <h1>ERROR</h1>
    {% endif %}

    {% if wayf_config.userpass.order == 2 %}
        {% include 'userpass.twig' %}
    {% elseif wayf_config.preferred_idps.order == 2 %}
        {% include 'preferred_idps.twig' %}
    {% elseif wayf_config.idps.order == 2 %}
        {% include 'idps.twig' %}
    {% else %}
        <h1>ERROR</h1>
    {% endif %}

    {% if wayf_config.userpass.order == 3 %}
        {% include 'userpass.twig' %}
    {% elseif wayf_config.preferred_idps.order == 3 %}
        {% include 'preferred_idps.twig' %}
    {% elseif wayf_config.idps.order == 3 %}
        {% include 'idps.twig' %}
    {% else %}
        <h1>ERROR</h1>
    {% endif %}

{% endblock %}
