<div id="footer" style="background-color: {{ wayf_config.color_background }}; color: {{ wayf_config.color_text }}">
    <div id="copyright">Copyright &copy; {{ year }}</div>
    <br style="clear: right; text-align: center" />
</div>
